<header class="topbar">

    <!-- Logo -->
    <div class="logo-toggle" id="toggleSidebar">

    

</div>

    <!-- Barra derecha -->
    <div class="topbar-right">

        <div class="search-box">

            <input
                type="text"
                placeholder="Buscar productos, pedidos, mesas..."
                class="search"
            >

        </div>

        <button class="icon-btn" title="Notificaciones">

            🔔

        </button>

        
        

        <a href="#" id="logoutBtn" class="logout-btn">

            Cerrar sesión

        </a>

    </div>

</header>